<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>

<div id='hello'>
<input type="text" v-model="message">
<p>{{ counter }}</p>
<button @click="counter += 1">+1</button>
<p>{{ lessThanThree }}</p>
<app></app>
</div>
